<!DOCTYPE html>
<html lang="pt-brc">
<%- include('../partials/head') %>

    <body class=" container">
        <%- include('../partials/header') %>
        <main>
            <div class="jumbotron">
                <h1> Sobre mim:</h1>
                <p> Olá mundo, sou Victor Labussiere, desenvolvedor Jr de JavaScript aprendendo sobre EJS com a rocketSeat.</p>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>

</html>